{% extends 'web/partials/base2.html' %}
{% load static %}
{% block content %}     
         
   
        <!-- start page title section -->
        <section class="wow animate__fadeIn bg-light-gray padding-35px-tb page-title-small top-space">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-8 col-md-6 text-center text-md-start">
                        <!-- start page title -->
                        <h1 class="alt-font text-extra-dark-gray font-weight-600 mb-0 text-uppercase">About us classic</h1>
                        <!-- end page title -->
                    </div>
                    <div class="col-xl-4 col-md-6 alt-font breadcrumb justify-content-center justify-content-md-end text-small sm-margin-10px-top">
                        <!-- start breadcrumb -->
                        <ul>
                            <li><a href="#" class="text-dark-gray">Pages</a></li>
                            <li><a href="#" class="text-dark-gray">About</a></li>
                            <li class="text-dark-gray">About us classic</li>
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title section -->
        <!-- start section -->
        <section class="wow animate__fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 text-center text-lg-start md-margin-30px-bottom md-padding-80px-lr sm-padding-15px-lr wow animate__fadeIn">
                        <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase w-80 lg-w-100">We create designs and technology</h5>
                        <div class="separator-line-verticle-extra-small bg-extra-dark-gray w-50 md-w-70 mx-auto ms-lg-0 margin-30px-bottom md-margin-20px-bottom"></div>
                        <p class="w-95 lg-w-100">World Mark Refine (WMR), we craft innovative designs powered by cutting-edge technology. Our expertise blends creativity with advanced digital solutions to bring unique visions to life. Whether it's branding, user experience, or visual design, we ensure every project is executed with precision and excellence. </p>
                        <a class="btn btn-small btn-dark-gray font-weight-700" href="team-simple.html">Meet Out Team</a>
                    </div>
                    <div class="col-lg-4 col-md-6 sm-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                        <img src="{% static 'web/assets/images/about-img6.jpg'%}" alt=""/>
                    </div>
                    <div class="col-lg-4 col-md-6 wow animate__fadeIn" data-wow-delay="0.4s">
                        <img src="{% static 'web/assets/images/about-img5.jpg'%}" alt=""/>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start feature box section -->
        <section class="p-0 wow animate__fadeIn bg-light-gray">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-lg-2">
                    <div class="col cover-background md-h-500px sm-h-350px wow animate__fadeInLeft" style="background-image:url('{% static 'web/assets/images/about-img7.jpg' %}');"><div class="h-sm-400px"></div></div>
                    <div class="col padding-five-tb padding-five-half-lr lg-padding-50px-tb md-padding-70px-tb md-padding-15px-lr wow animate__fadeInRight">
                        <div class="row justify-content-center m-0">
                            <div class="col-md-12 col-sm-8 margin-four-bottom lg-margin-six-bottom md-margin-40px-bottom sm-margin-30px-bottom sm-no-padding-lr text-center text-md-start">
                                <h5 class="alt-font text-extra-dark-gray text-center text-lg-start text-uppercase font-weight-700 md-w-70 mx-auto mx-lg-0 md-no-margin-bottom sm-w-100">Some reasons to work together</h5>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-xl-2 row-cols-lg-1 row-cols-sm-2 justify-content-center m-0">
                            <!-- start feature box item-->
                            <div class="col margin-six-bottom md-margin-40px-bottom last-paragraph-no-margin text-center text-md-start">
                                <div class="text-extra-dark-gray margin-10px-bottom alt-font"><span class="text-deep-pink margin-10px-right d-block d-md-inline-block sm-no-margin">01.</span>We believe in creativity</div>
                                <p class="w-90 sm-w-100"> creativity drives everything we do. We push boundaries to craft designs that inspire and leave a lasting impression, delivering solutions that resonate with your audience.</p>
                            </div>
                            <!-- end feature box item-->
                            <!-- start feature box item-->
                            <div class="col margin-six-bottom md-margin-40px-bottom last-paragraph-no-margin text-center text-md-start">
                                <div class="text-extra-dark-gray margin-10px-bottom alt-font"><span class="text-deep-pink margin-10px-right d-block d-md-inline-block sm-no-margin">02.</span>We believe in quality</div>
                                <p class="w-90 sm-w-100"> quality is our priority. We are committed to delivering top-notch designs and solutions that meet the highest standards, ensuring excellence in every detail of our work</p>
                            </div>
                            <!-- end feature box item-->
                            <!-- start feature box item-->
                            <div class="col lg-margin-six-bottom md-margin-40px-bottom last-paragraph-no-margin text-center text-md-start">
                                <div class="text-extra-dark-gray margin-10px-bottom alt-font"><span class="text-deep-pink margin-10px-right d-block d-md-inline-block sm-no-margin">03.</span>We believe in abilities</div>
                                <p class="w-90 sm-w-100">we recognize the power of talent and skill. We trust in our team's abilities to bring innovative ideas to life, delivering exceptional results through expertise and dedication..</p>
                            </div>
                            <!-- end feature box item-->
                            <!-- start feature box item-->
                            <div class="col last-paragraph-no-margin text-center text-md-start">
                                <div class="text-extra-dark-gray margin-10px-bottom alt-font"><span class="text-deep-pink margin-10px-right d-block d-md-inline-block sm-no-margin">04.</span>We believe in relation</div>
                                <p class="w-90 sm-w-100">we value strong, lasting partnerships. Collaboration and trust are at the core of our approach, ensuring meaningful connections with our clients.</p>
                            </div>
                            <!-- end feature box item-->
                        </div>
                    </div> 
                </div>
            </div>
        </section>
        <!-- end feature box section -->
        <!-- start counter section -->
        <section class="wow animate__fadeIn">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
                    <!-- start counter item-->
                    <div class="col text-center md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeInUp">
                        <div class="counter-feature-box-1 w-100 padding-5px-all">
                            <div class="counter-box bg-white d-flex justify-content-center flex-column h-100">
                                <i class="icon-heart icon-medium text-medium-gray margin-15px-bottom"></i>
                                <h6 class="d-block font-weight-600 text-extra-dark-gray alt-font mb-0 counter" data-to="4650" data-speed="2000">4650</h6>
                                <span>Happy Clients</span>
                            </div>
                        </div>
                    </div>
                    <!-- end counter item-->
                    <!-- start counter item-->
                    <div class="col text-center md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeInUp" data-wow-delay="0.2s">
                        <div class="counter-feature-box-1 w-100 padding-5px-all">
                            <div class="counter-box bg-white d-flex justify-content-center flex-column h-100">
                                <i class="icon-laptop icon-medium text-medium-gray margin-15px-bottom"></i>
                                <h6 class="d-block font-weight-600 text-extra-dark-gray alt-font mb-0 counter" data-to="3790" data-speed="2000">3790</h6>
                                <span>Project Completed</span>
                            </div>
                        </div>
                    </div>
                    <!-- end counter item-->
                    <!-- start counter item-->
                    <div class="col text-center xs-margin-15px-bottom wow animate__fadeInUp" data-wow-delay="0.4s">
                        <div class="counter-feature-box-1 w-100 padding-5px-all">
                            <div class="counter-box bg-white d-flex justify-content-center flex-column h-100">
                                <i class="icon-camera icon-medium text-medium-gray margin-15px-bottom"></i>
                                <h6 class="d-block font-weight-600 text-extra-dark-gray alt-font mb-0 counter" data-to="5580" data-speed="2000">5580</h6>
                                <span>Photo Capture</span>
                            </div>
                        </div>
                    </div>
                    <!-- end counter item-->
                    <!-- start counter item-->
                    <div class="col text-center wow animate__fadeInUp" data-wow-delay="0.6s">
                        <div class="counter-feature-box-1 w-100 padding-5px-all">
                            <div class="counter-box bg-white d-flex justify-content-center flex-column h-100">
                                <i class="icon-chat icon-medium text-medium-gray margin-15px-bottom"></i>
                                <h6 class="d-block font-weight-600 text-extra-dark-gray alt-font mb-0 counter" data-to="8580" data-speed="2000">8580</h6>
                                <span>Telephonic Talk</span>
                            </div>
                        </div>
                    </div>
                    <!-- end counter item-->
                </div>
            </div>            
        </section>
        <!-- end feature box section -->
        <!-- start parallax section -->
        <section class="wow animate__fadeIn p-0 parallax one-fourth-screen md-h-500px sm-h-350px background-position-x-50" data-parallax-background-ratio="0.5" style="background-image: url('{% static 'web/assets/images/about-img8.jpg' %} ')"></section>
        <!-- end parallax section -->
        <!-- start information section -->
        <section class="wow animate__fadeIn">
            <div class="container">
                <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center">
                    <!-- start feature box item -->
                    <div class="col-sm-8 md-margin-60px-bottom sm-margin-40px-bottom text-center text-md-start wow animate__fadeInRight">
                        <h5 class="text-light-gray font-weight-300 alt-font mb-0">01</h5>
                        <span class="text-extra-dark-gray alt-font text-large margin-15px-bottom d-block md-margin-5px-bottom">Lead with why</span>
                        <p class="w-90 md-w-100"> we start by understanding the "why" behind every project. This purpose-driven approach ensures that our designs and solutions align with your goals, creating meaningful and impactful results.</p>
                        <div class="separator-line-horrizontal-medium-light3 bg-deep-pink w-50px mx-auto mx-md-0"></div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-sm-8 md-margin-60px-bottom sm-margin-40px-bottom text-center text-md-start wow animate__fadeInRight" data-wow-delay="0.2s">
                        <h5 class="text-light-gray font-weight-300 alt-font mb-0">02</h5>
                        <span class="text-extra-dark-gray alt-font text-large margin-15px-bottom d-block md-margin-5px-bottom">Less but better</span>
                        <p class="w-90 md-w-100">we believe in simplicity and refinement. Our focus is on delivering high-quality, streamlined solutions that are both effective and impactful, ensuring every element serves a clear purpose.</p>
                        <div class="separator-line-horrizontal-medium-light3 bg-deep-pink w-50px mx-auto mx-md-0"></div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-sm-8 text-center text-md-start wow animate__fadeInRight" data-wow-delay="0.4s">
                        <h5 class="text-light-gray font-weight-300 alt-font mb-0">03</h5>
                        <span class="text-extra-dark-gray alt-font text-large margin-15px-bottom d-block md-margin-5px-bottom">Human centered</span>
                        <p class="w-90 md-w-100">people are at the core of everything we design. Our approach focuses on creating experiences that prioritize user needs, ensuring intuitive and meaningful interactions that resonate with your audience.</p>
                        <div class="separator-line-horrizontal-medium-light3 bg-deep-pink w-50px mx-auto mx-md-0"></div>
                    </div>
                    <!-- end feature box item -->
                </div>
            </div>
        </section>
        <!-- end information sevtion -->
        <!-- start section -->
        <section class="extra-big-section parallax wow animate__fadeIn" data-parallax-background-ratio="0.5" style="background-image: url('{% static 'web/assets/images/about-img9.jpg' %}')">
            <div class="opacity-full-dark bg-extra-dark-gray"></div>           
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-11 text-center">                        
                        <div class="alt-font text-medium-gray text-uppercase text-small margin-20px-bottom">About Digital Agency</div>
                        <h5 class="text-light-gray alt-font margin-40px-bottom sm-margin-30px-bottom">we are a forward-thinking digital agency dedicated to delivering exceptional design and technology solutions. We combine creativity with technical expertise to craft impactful experiences that drive success and resonate with audiences.</h5>
                        <a href="portfolio-full-width-grid-overlay.html" class="btn btn-medium btn-white btn-rounded">Latest Portfolio</a>
                    </div>                    
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start clients logo section -->
        <section class="wow animate__fadeIn">
            <div class="container">
                <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 align-items-center">
                    <!-- start client logo item -->
                    <div class="col margin-three-bottom text-center wow animate__fadeInDown">
                        <a href="http://www.envato.com/"><img src="{% static 'web/assets/images/logo-1.png'%}" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                    <!-- start client logo item -->
                    <div class="col margin-three-bottom text-center wow animate__fadeInDown" data-wow-delay="0.2s">
                        <a href="http://www.woocommerce.com/"><img src="{% static 'web/assets/images/logo-2.png'%}" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                    <!-- start client logo item -->
                    <div class="col margin-three-bottom text-center wow animate__fadeInDown" data-wow-delay="0.4s">
                        <a href="http://www.wordpress.com/"><img src="{% static 'web/assets/images/logo-3.png'%}" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                    <!-- start client logo item -->
                    <div class="col margin-three-bottom text-center wow animate__fadeInDown" data-wow-delay="0.6s">
                        <a href="http://www.magento.com/"><img src="{% static 'web/assets/images/logo-4.png'%}" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                    <!-- start client logo item -->
                    <div class="col md-margin-three-bottom text-center wow animate__fadeInDown">
                        <a href="http://www.sass-lang.com/"><img src="{% static 'web/assets/images/logo-5.png'%}" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                    <!-- start client logo item -->
                    <div class="col md-margin-three-bottom text-center wow animate__fadeInDown" data-wow-delay="0.2s">
                        <a href="http://www.pingdom.com/"><img src="{% static 'web/assets/images/logo-6.png'%}" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                    <!-- start client logo item -->
                    <div class="col xs-margin-three-bottom text-center wow animate__fadeInDown" data-wow-delay="0.4s">
                        <a href="http://lesscss.org/"><img src="{% static 'web/assets/images/logo-7.png'%}" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                    <!-- start client logo item -->
                    <div class="col text-center wow animate__fadeInDown" data-wow-delay="0.6s">
                        <a href="http://www.jquery.com/"><img src="{% static 'web/assets/images/logo-8.png'%}" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                </div>
            </div>
        </section>
        <!-- end clients logo section -->
        <!-- start section -->
        <section class="p-0 bg-light-gray wow animate__fadeIn">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start offset-lg-1 md-padding-50px-all sm-padding-15px-lr">
                        <i class="fa-solid fa-quote-left text-deep-pink icon-large margin-5px-bottom"></i>
                        <h5 class="text-extra-dark-gray alt-font text-uppercase font-weight-700">Design is not just what it looks like and feels like. Design is how it works.</h5>
                        <p class="w-90 md-w-100"> we believe design is more than appearance—it’s about functionality and effectiveness. Great design integrates form and function, ensuring that every element not only looks good but also works seamlessly.</p>
                        <img src="" alt="" class="margin-15px-top">
                        <span class="text-extra-dark-gray text-large d-block margin-30px-top alt-font font-weight-600">chairman</span>
                        <span class="d-block">From the chairman's desk</span>
                    </div>
                    <div class="col-lg-6 order-2 order-lg-1 text-center align-self-end">
                        <img src="{% static 'web/assets/images/about-ceo.png'%}" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start call to action section -->
        <section class="wow animate__fadeIn">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10 text-center">
                        <h5 class="alt-font text-uppercase font-weight-700 text-extra-dark-gray w-80 mx-auto margin-35px-bottom lg-w-100 wow animate__fadeInUp">We would love to hear about start your new project?</h5>
                        <a href="contact-us-classic-02.html" class="btn btn-medium btn-rounded btn-transparent-dark-gray wow animate__fadeInUp"  data-wow-delay="0.2s">Start New Projects</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end call to action section -->        
       
      {% endblock %}