<!doctype html>

{% extends 'web/partials/base3.html' %}
{% load static %}
{% block content %}     
         

        <!-- start header -->
       
        <!-- end header -->
        <!-- start page title section -->
        <section class="wow animate__fadeIn parallax" data-parallax-background-ratio="0.5" style="background-image:url('images/parallax-bg33.jpg');">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container position-relative">
                <div class="row align-items-center">
                    <div class="col-12 d-flex flex-column justify-content-center text-center extra-small-screen page-title-large">
                        <!-- start page title -->
                        <h1 class="text-white-2 alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">Blog images</h1>
                        <span class="text-white-2 opacity6 alt-font">Lorem Ipsum is simply dummy text printing</span>
                        <!-- end page title --> 
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title section --> 
        <!-- start post content section -->
        <section class="wow animate__fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-12 blog-content">
                        <ul class="blog-zoom-image blog-wrapper grid grid-loading grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-1col xs-grid-1col blog-post-style4 gutter-large">
                            <li class="grid-sizer"></li>
                            <!-- start post item -->
                            <li class="grid-item wow animate__fadeInUp">
                                {% for blog in blogs %}
                                <figure>
                                    <div class="blog-img bg-extra-dark-gray">
                                        <a href="{{blog.get_absolute_url}}"><img src="{{ blog.image.url }}" alt="" ></a>
                                    </div>
                                    <figcaption>
                                        <div class="portfolio-hover-main text-start">
                                            <div class="blog-hover-box align-bottom">
                                                <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-5px-bottom sm-margin-5px-bottom">{{ blog.date }} | by <a href="{{blog.get_absolute_url}}" class="text-medium-gray">{{ blog.name }}</a></span>
                                                <h6 class="alt-font d-block text-white-2 font-weight-600 mb-0"><a href="{{blog.get_absolute_url}}" class="text-white-2 text-deep-pink-hover">{{blog.title}}</a></h6>
                                                <p class="text-medium-gray margin-10px-top blog-hover-text">.</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                {% endfor %}
                            </li>
                         
                            <!-- end post item -->
                        </ul>
                    </div>
                </div>
                <!-- start pagination -->
                
                <!-- end pagination -->
            </div>
        </section>
        <!-- end post content section -->
        <!-- start footer --> 
     
       {% endblock %}