{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}

        <!-- start navigation -->
        <nav class="navbar no-margin-bottom bootsnav alt-font bg-white sidebar-nav sidebar-nav-style-1 navbar-expand-lg">
            <!-- start logo -->
            <div class="col-12 sidenav-header">
                <div class="logo-holder">
                    <a href="index.html" class="d-inline-block logo"><img alt="Pofo" src="{% static 'web/assets/images/wmr_logo.svg'%}" data-at2x="{% static 'web/assets/images/wmr_logo.svg' %}" /></a>
                </div>
                <!-- end logo -->
                <button class="navbar-toggler mobile-toggle" type="button" id="mobileToggleSidenav">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="col-12 px-0">
                <div id="navbar-menu" class="collapse navbar-collapse no-padding">
                    <ul class="nav navbar-nav navbar-left-sidebar font-weight-500">
                        <li class="dropdown">
                            <a href="{% url 'web:index' %}" title="Home" data-bs-toggle="dropdown">Home<i class="fa-solid fa-angle-right pull-right"></i></a>
                          
                        </li>
                        <li class="dropdown">
                            <a data-bs-toggle="dropdown" href="{% url 'web:about' %}" title="Pages"> ABOUT <i class="fa-solid fa-angle-right"></i></a>
                         
                        </li>
                        <li class="dropdown">
                            <a data-bs-toggle="dropdown" href="{% url 'web:index' %}" title="Portfolio">Portfolio <i class="fa-solid fa-angle-right"></i></a>
                         
                        </li>
                        <li class="dropdown">
                            <a data-bs-toggle="dropdown" href="{% url 'web:services' %}" title="Blog">Service <i class="fa-solid fa-angle-right"></i></a>
                         
                        </li>
                        <li class="dropdown">
                            <a data-bs-toggle="dropdown" href="{% url 'web:index' %}" title="Contact"> Blog <i class="fa-solid fa-angle-right"></i></a>
                         
                        </li>
                        <li class="dropdown">
                            <a data-bs-toggle="dropdown" href="{% url 'web:index' %}" title="Features">Gallery <i class="fa-solid fa-angle-right"></i></a>
                          
                        </li>
                        <li class="dropdown">
                            <a data-bs-toggle="dropdown" href="{% url 'web:contact' %}" title="Features">
                                Contact <i class="fa-solid fa-angle-right"></i></a>
                          
                        </li>
                        <li>
                            <div class="side-left-menu-close close-side"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 position-absolute top-auto bottom-0 left-0 w-100 padding-20px-bottom sm-padding-15px-bottom">
                <div class="footer-holder">
                    <form action="https://www.themezaa.com/html/pofo/search-result.html" method="post" class="navbar-form no-padding search-box">
                        <div class="input-group add-on">
                            <input name="text" id="text" data-email="required" type="text" placeholder="Enter your keywords..." class="form-control">
                            <div class="input-group-btn">
                                <button class="btn btn-default search-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </div>
                    </form>
                    <div class="icon-social-medium margin-eleven-bottom padding-eight-top sm-padding-15px-top sm-margin-15px-bottom">
                        <a href="https://www.facebook.com/" target="_blank" class="text-link-extra-dark-gray"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/" target="_blank" class="text-link-extra-dark-gray"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://dribbble.com/" target="_blank" class="text-link-extra-dark-gray"><i class="fa-brands fa-dribbble" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/" target="_blank" class="text-link-extra-dark-gray"><i class="fa-brands fa-google-plus-g" aria-hidden="true"></i></a>
                    </div>
                    <div class="text-medium-gray text-extra-small border-top border-color-extra-light-gray padding-twelve-top sm-padding-15px-top">&copy; 2024 WMR. All rights reserved</div>
                </div>
            </div>
        </nav>
        <!-- end navigation --> 
        <div class="sidebar-wrapper bg-light-gray md-padding-50px-top">
            <!-- start section -->
            <section class="wow animate__fadeIn">
                <div class="container">
                    <div class="row">
                        <div class="col-12 wow animate__fadeIn">
                            <span class="head-text text-extra-dark-gray font-weight-300 w-80 d-block line-height-90 lg-w-100 xl-w-90">
                                <a href="about-us-modern.html" class="text-deep-pink"><strong>WMR</strong></a>is an India-based agency specializing in crafting impactful digital experiences and stunning brand aesthetics. We design purposeful, visually captivating, and functional solutions.
                            </span>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <!-- start divider -->
            <div class="container"><div class="divider-full bg-extra-light-gray"></div></div>
            <!-- end divider -->
            <!-- start about section -->
            <section class="wow animate__fadeIn">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 wow animate__fadeIn">
                            <div class="position-relative icon-with-paragraph">
                                <span class="text-deep-pink position-absolute left-0 top-0 alt-font special-char-extra-large d-none d-lg-block">*</span> 
                                <h5 class="font-weight-300 text-extra-dark-gray w-90 padding-nineteen-left lg-padding-twenty-left lg-w-100 xl-w-95 md-no-padding-left sm-margin-15px-bottom">A digital studio crafting beautiful experiences. We create premium designs and technology.</h5>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 offset-lg-1 offset-xl-0 col-md-6 wow animate__fadeIn" data-wow-delay="0.2s">
                            <p class="text-medium font-weight-300 w-70 line-height-26 lg-w-100 xl-w-80">We are idea-driven, working with a strong focus on design and user experience. Our projects should engage your audience, we want to create wonderful digital things that people love to be part of and use. That's what your brand and audience deserve.</p>
                            <a href="about-us-simple.html" class="text-uppercase alt-font d-inline-block text-extra-dark-gray font-weight-600 text-deep-pink-hover text-extra-small">About Our Company <i class="fa-solid fa-arrow-right-long margin-5px-left text-medium position-relative top-2" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end about section -->
            <!-- start portfolio section -->
            
            <section class="py-0 wow animate__fadeIn">
                <div class="container">
                    <div class="row">
                        <div class="col-12 filter-content overflow-hidden">
                            <ul class="hover-option5 portfolio-wrapper grid grid-loading grid-3col xl-grid-3col lg-grid-3col md-grid-3col sm-grid-1col xs-grid-1col gutter-medium">
                                <li class="grid-sizer"></li>
                                <!-- start portfolio item -->
                                {% for item in items %}
                                    <li class="grid-item {% if forloop.counter0|divisibleby:2 %} grid-item-double {% endif %} wow animate__zoomIn last-paragraph-no-margin" data-wow-delay="{{ forloop.counter0|add:0.2 }}s">
                                        <a href="{{ item.link|default:'#' }}">
                                            <figure>
                                                <div class="portfolio-img">
                                                    <img src="{% url 'web:portfolio' %}" alt="{{ item.title }}"/>
                                                </div>
                                                <figcaption>
                                                    <div class="portfolio-hover-main text-center">
                                                        <div class="portfolio-hover-box align-middle">
                                                            <div class="portfolio-hover-content position-relative">
                                                                <div class="bg-deep-pink mx-auto separator-line-horrizontal-medium-light2 position-relative"></div>
                                                                <span class="font-weight-600 line-height-normal alt-font text-white-2 text-uppercase margin-5px-bottom d-block">
                                                                    {{ item.title }}
                                                                </span>
                                                                <p class="text-medium-gray letter-spacing-1 text-uppercase text-extra-small">
                                                                    {{ item.description }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </a>
                                    </li>
                                {% endfor %}
                                <!-- end portfolio item -->
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- end portfolio section -->
            <div class="clearfix"></div>
            <!-- start clients logo section -->
            <section class="wow animate__fadeIn">
                <div class="container">
                    <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 align-items-center">
                        <div class="col margin-three-bottom text-center wow animate__fadeInRight">
                            <a href="https://envato.com/"><img src="{% static 'web/assets/images/logo-1.png'%}" alt=""></a>
                        </div>
                        <div class="col margin-three-bottom text-center wow animate__fadeInRight" data-wow-delay="0.2s">
                            <a href="https://woocommerce.com/"><img src="{% static 'web/assets/images/logo-2.png'%}" alt=""></a>
                        </div>
                        <div class="col margin-three-bottom text-center wow animate__fadeInRight" data-wow-delay="0.4s">
                            <a href="https://wordpress.com/"><img src="{% static 'web/assets/images/logo-3.png'%}" alt=""></a>
                        </div>
                        <div class="col margin-three-bottom text-center wow animate__fadeInRight" data-wow-delay="0.6s">
                            <a href="https://magento.com/"><img src="{% static 'web/assets/images/logo-4.png'%}" alt=""></a>
                        </div>
                        <div class="col md-margin-three-bottom text-center wow animate__fadeInRight" data-wow-delay="0.8s">
                            <a href="https://sass-lang.com/"><img src="{% static 'web/assets/images/logo-5.png'%}" alt=""></a>
                        </div>
                        <div class="col md-margin-three-bottom text-center wow animate__fadeInRight" data-wow-delay="1s">
                            <a href="https://www.pingdom.com/"><img src="{% static 'web/assets/images/logo-6.png'%}" alt=""></a>
                        </div>
                        <div class="col xs-margin-three-bottom text-center wow animate__fadeInRight" data-wow-delay="1.2s">
                            <a href="https://lesscss.org/"><img src="{% static 'web/assets/images/logo-7.png'%}" alt=""></a>
                        </div>
                        <div class="col text-center wow animate__fadeInRight" data-wow-delay="1.4s">
                            <a href="https://jquery.com/"><img src="{% static 'web/assets/images/logo-8.png'%}" alt=""></a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end clients logo section -->
            <!-- start divider -->
            <div class="container"><div class="divider-full bg-extra-light-gray"></div></div>
            <!-- end divider -->
            <!-- start team section -->
            <section class="wow animate__fadeIn">
                <div class="container">
                    <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 justify-content-center">
                        <!-- start team item -->
                        <div class="col team-block text-start team-style-1 sm-margin-30px-bottom md-margin-50px-bottom wow animate__fadeInUp">
                            <figure>
                                <div class="team-image sm-w-100">
                                    <img src="{% static 'web/assets/images/team13.jpg'%}" alt="">
                                    <div class="overlay-content text-center d-flex align-items-center justify-content-center">
                                        <div class="icon-social-small">
                                            <a href="http://facebook.com/" target="_blank" class="text-white-2 text-white-2-hover"><i class="fa-brands fa-facebook-f"></i></a>
                                            <a href="http://twitter.com/" target="_blank" class="text-white-2 text-white-2-hover"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="http://plus.google.com/" target="_blank" class="text-white-2 text-white-2-hover"><i class="fa-brands fa-google-plus-g"></i></a>
                                            <a href="http://instagram.com/" target="_blank" class="text-white-2 text-white-2-hover"><i class="fa-brands fa-instagram"></i></a>
                                        </div>
                                    </div>
                                    <div class="team-overlay bg-deep-pink opacity8"></div>
                                </div>
                                <figcaption>
                                    <div class="team-member-position margin-20px-top text-center">
                                        <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Hugh Macleod</div>
                                        <div class="text-extra-small text-uppercase text-medium-gray">Creative Director</div>
                                    </div>   
                                </figcaption>
                            </figure>
                        </div>
                        <!-- end team item -->
                        <!-- start team item -->
                        <div class="col team-block text-start team-style-1 sm-margin-30px-bottom md-margin-50px-bottom wow animate__fadeInUp" data-wow-delay="0.2s">
                            <figure>
                                <div class="team-image sm-w-100">
                                    <img src="{% static 'web/assets/images/team18.jpg'%}" alt="">
                                    <div class="overlay-content text-center d-flex align-items-center justify-content-center">
                                        <div class="icon-social-small">
                                            <a href="http://facebook.com/" target="_blank" class="text-white-2 text-white-2-hover"><i class="fa-brands fa-facebook-f"></i></a>
                                            <a href="http://twitter.com/" target="_blank" class="text-white-2 text-white-2-hover"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="http://plus.google.com/" target="_blank" class="text-white-2 text-white-2-hover"><i class="fa-brands fa-google-plus-g"></i></a>
                                            <a href="http://instagram.com/" target="_blank" class="text-white-2 text-white-2-hover"><i class="fa-brands fa-instagram"></i></a>
                                        </div>
                                    </div>
                                    <div class="team-overlay bg-deep-pink opacity8"></div>
                                </div>
                                <figcaption>
                                    <div class="team-member-position margin-20px-top text-center">
                                        <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Jeremy Dupont</div>
                                        <div class="text-extra-small text-uppercase text-medium-gray">Creative Director</div>
                                    </div>   
                                </figcaption>
                            </figure>
                        </div>
                        <!-- end team item -->
                        <!-- start team item -->
                        <div class="col team-block text-start team-style-1 xs-margin-30px-bottom wow animate__fadeInUp" data-wow-delay="0.4s">
                            <figure>
                                <div class="team-image sm-w-100">
                                    <img src="{% static 'web/assets/images/team15.jpg'%}" alt="">
                                    <div class="overlay-content text-center d-flex align-items-center justify-content-center">
                                        <div class="icon-social-small">
                                            <a href="http://facebook.com/" target="_blank" class="text-white-2 text-white-2-hover"><i class="fa-brands fa-facebook-f"></i></a>
                                            <a href="http://twitter.com/" target="_blank" class="text-white-2 text-white-2-hover"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="http://plus.google.com/" target="_blank" class="text-white-2 text-white-2-hover"><i class="fa-brands fa-google-plus-g"></i></a>
                                            <a href="http://instagram.com/" target="_blank" class="text-white-2 text-white-2-hover"><i class="fa-brands fa-instagram"></i></a>
                                        </div>
                                    </div>
                                    <div class="team-overlay bg-deep-pink opacity8"></div>
                                </div>
                                <figcaption>
                                    <div class="team-member-position margin-20px-top text-center">
                                        <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Sara Smith</div>
                                        <div class="text-extra-small text-uppercase text-medium-gray">Creative Studio Head</div>
                                    </div>   
                                </figcaption>
                            </figure>
                        </div>
                        <!-- end team item -->
                        <!-- start team item -->
                        <div class="col team-block text-start team-style-1 wow animate__fadeInUp" data-wow-delay="0.4s">
                            <figure>
                                <div class="team-image sm-w-100">
                                    <img src="{% static 'web/assets/images/team16.jpg'%}" alt="">
                                    <div class="overlay-content text-center d-flex align-items-center justify-content-center">
                                        <div class="icon-social-small">
                                            <a href="http://facebook.com/" target="_blank" class="text-white-2 text-white-2-hover"><i class="fa-brands fa-facebook-f"></i></a>
                                            <a href="http://twitter.com/" target="_blank" class="text-white-2 text-white-2-hover"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="http://plus.google.com/" target="_blank" class="text-white-2 text-white-2-hover"><i class="fa-brands fa-google-plus-g"></i></a>
                                            <a href="http://instagram.com/" target="_blank" class="text-white-2 text-white-2-hover"><i class="fa-brands fa-instagram"></i></a>
                                        </div>
                                    </div>
                                    <div class="team-overlay bg-deep-pink opacity8"></div>
                                </div>
                                <figcaption>
                                    <div class="team-member-position margin-20px-top text-center">
                                        <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Bill Gardner</div>
                                        <div class="text-extra-small text-uppercase text-medium-gray">Co-Founder / Design</div>
                                    </div>   
                                </figcaption>
                            </figure>
                        </div>
                        <!-- end team item -->                    
                    </div> 
                </div>
            </section>
            <!-- end team section -->
            <!-- start divider -->
            <div class="container"><div class="divider-full bg-extra-light-gray"></div></div>
            <!-- end divider -->
            <!-- start call to action section -->
            <section class="wow animate__fadeIn">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8 col-md-10 text-center">
                            <h5 class="font-weight-300 text-extra-dark-gray w-80 mx-auto margin-eight-bottom md-margin-30px-bottom lg-w-100 xl-w-95 wow animate__fadeInDown" data-wow-delay="0.2s">We would love to hear about start your new project.</h5>
                            <a href="about-us-modern.html" class="btn btn-medium btn-rounded btn-transparent-dark-gray wow animate__fadeInDown">Start New Projects</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end call to action -->
            <!-- start divider -->
            <div class="container"><div class="divider-full bg-extra-light-gray"></div></div>
            <!-- end divider -->
            <!-- start footer --> 
            <footer class="footer-center-logo padding-five-tb sm-padding-30px-tb">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- start copyright -->
                        <div class="col-lg-4 col-md-5 text-small text-center alt-font sm-margin-15px-bottom">
                            &copy; 2024 WMR is Powered by <a href="https://brandmarker.in/" target="_blank" title="BRAND MARKER">BRAND MARKER</a>.
                        </div>
                        <!-- end copyright -->
                        <!-- start logo -->
                        <div class="col-lg-4 col-md-2 text-center sm-margin-10px-bottom">
                            <a href="index.html"><img class="footer-logo" src="{% static 'web/assets/images/wmr_logo.svg'%}" data-at2x="{% static 'web/assets/images/wmr_logo.svg' %}" alt="Pofo"></a>
                        </div>
                        <!-- end logo -->
                        <!-- start social media -->
                        <div class="col-lg-4 col-md-5 text-center">
                            <span class="alt-font text-small margin-20px-right md-margin-15px-right">On social networks</span>
                            <div class="social-icon-style-8 d-inline-block align-middle">
                                <ul class="small-icon mb-0">
                                    <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a></li>
                                    <li><a class="twitter" href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a class="google" href="https://plus.google.com/" target="_blank"><i class="fa-brands fa-google-plus-g"></i></a></li>
                                    <li><a class="instagram" href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram me-0" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end social media -->
                    </div>
                </div>
            </footer>
            <!-- end footer -->
        </div>
        <!-- start scroll to top -->
        {% endblock %}