{% extends 'web/partials/base3.html' %}
{% load static %}
{% block content %}     
        <!-- start header -->
     
        <!-- start page title section -->
        <section class="wow animate__fadeIn parallax" data-parallax-background-ratio="0.5" style="background-image:url('{% static  'web/assets/images/parallax-bg35.jpg' %} ');">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container position-relative">
                <div class="row align-items-center">
                    <div class="col-12 d-flex flex-column justify-content-center text-center extra-small-screen page-title-large">
                        <!-- start page title -->
                        <h1 class="text-white-2 alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">Portfolio </h1>
                        <!-- end page title -->
                        <!-- start sub title -->
                        <span class="text-white-2 opacity6 alt-font">Choose from our wide range of portfolio layouts</span>
                        <!-- end sub title -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title section -->
        <!-- start portfolio section -->
        <section class="wow animate__fadeIn padding-90px-top md-padding-50px-top sm-padding-30px-top">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- start filter navigation -->
                        <ul
                            class="portfolio-filter nav nav-tabs justify-content-center border-0 portfolio-filter-tab-1 font-weight-600 alt-font text-uppercase text-center margin-80px-bottom text-small md-margin-40px-bottom sm-margin-20px-bottom">
                            <li class="nav active"><a href="javascript:void(0);" data-filter="*"
                                    class="light-gray-text-link text-very-small">All</a></li>
                            {% for category in categories %}
                            <li class="nav"><a href="javascript:void(0);" data-filter=".item-{{category.id}}"
                                    class="light-gray-text-link text-very-small">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                        <!-- end filter navigation -->
                    </div>
                </div>
            </div>
            <!-- start filter content -->
            <div class="container">
                <div class="row">
                    <div class="col-12 filter-content overflow-hidden">
                        <ul
                            class="hover-option7 portfolio-wrapper grid grid-loading grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-medium">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            {% for portfolio in portfolios %}
                            <li class="grid-item item-{{ portfolio.category.id }} wow animate__fadeInUp">
                                <a href="">
                                    <figure>
                                        <div class="portfolio-img">
                                            <img src="{{ portfolio.image.url }}" alt="{{ portfolio.title }}" />
                                        </div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-center last-paragraph-no-margin">
                                                <div class="portfolio-hover-box align-middle">
                                                    <div class="portfolio-hover-content position-relative">
                                                        <span class="font-weight-600 alt-font text-uppercase margin-one-bottom d-block text-extra-dark-gray">
                                                            {{ portfolio.title }}
                                                        </span>
                                                        <p class="text-medium-gray text-uppercase text-extra-small">
                                                            {{ portfolio.category.name }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                        {% empty %}
                            <li>No portfolio items found.</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end filter content -->
        </section>
        
        
        <!-- end portfolio section -->
        <!-- start call to action section -->
        <section class="wow animate__fadeIn padding-50px-tb border-top border-color-extra-light-gray">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 md-margin-30px-bottom text-center text-lg-start wow animate__fadeInDown"> 
                        <span class="alt-font text-extra-large text-extra-dark-gray d-inline-block w-100">We would love to hear about start your new project?</span>
                    </div>
                    <div class="col-lg-4 text-center text-lg-start wow animate__fadeInDown"> 
                        <a href="contact-us-modern.html" class="btn btn-medium btn-rounded btn-transparent-dark-gray" data-wow-delay="0.4s">Start New Projects <i class="ti-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end call to action section -->
        <!-- start footer --> 
       
        {% endblock %}