{% extends 'web/partials/base2.html' %}
{% load static %}
{% block content %} 
       
       
      
        <!-- star page title section -->
        <section class="wow animate__fadeIn cover-background background-position-top top-space" style="background-image:url('{% static 'web/assets/images/services-bg.jpg' %}');">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container position-relative">
                <div class="row">
                    <div class="col-12 page-title-large d-flex flex-column justify-content-center text-center">
                        <!-- start sub title -->
                        <span class="d-block text-white-2 opacity6 margin-10px-bottom alt-font">We are awesome designer</span>
                        <!-- end sub title -->
                        <!-- start page title -->
                        <h1 class="alt-font text-white-2 font-weight-600 mb-0">Services simple</h1>
                        <!-- end page title -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title section -->
        <!-- start services section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 margin-60px-bottom sm-margin-30px-bottom wow animate__fadeIn"><img src="{% static 'web/assets/images/services-img1.jpg' %}" alt=""/></div>
                </div>
                <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center">
                    <!-- start service item -->
                    <div class="col md-margin-60px-bottom sm-margin-40px-bottom wow animate__fadeInUp">
                        <div class="text-small alt-font text-medium-gray text-uppercase">Creative</div>
                        <span class="text-medium alt-font text-extra-dark-gray d-block margin-15px-bottom md-margin-10px-bottom">Creative thinking & design</span>
                        <p class="w-90 md-w-100 sm-w-95 sm-margin-15px-bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry.</p>
                        <div class="separator-line-horrizontal-medium-light margin-30px-top md-no-margin-top bg-deep-pink"></div>
                    </div>
                    <!-- end service item -->
                    <!-- start service item -->
                    <div class="col md-margin-60px-bottom sm-margin-40px-bottom wow animate__fadeInUp" data-wow-delay="0.2s">
                        <div class="text-small alt-font text-medium-gray text-uppercase">Digital</div>
                        <span class="text-medium alt-font text-extra-dark-gray d-block margin-15px-bottom md-margin-10px-bottom">Digital branding & marketing</span>
                        <p class="w-90 md-w-100 sm-w-95 sm-margin-15px-bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry.</p>
                        <div class="separator-line-horrizontal-medium-light margin-30px-top md-no-margin-top bg-deep-pink"></div>
                    </div>
                    <!-- end service item -->
                    <!-- start service item -->
                    <div class="col wow animate__fadeInUp" data-wow-delay="0.4s">
                        <div class="text-small alt-font text-medium-gray text-uppercase">Analytics</div>
                        <span class="text-medium alt-font text-extra-dark-gray d-block margin-15px-bottom md-margin-10px-bottom">SEO, analytics & marketing</span>
                        <p class="w-90 md-w-100 sm-w-95 sm-margin-15px-bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry.</p>
                        <div class="separator-line-horrizontal-medium-light margin-30px-top md-no-margin-top bg-deep-pink"></div>
                    </div>
                    <!-- end service item -->
                </div>
            </div>
        </section>
    
        <!-- start services showcase section -->
        <section class="bg-extra-dark-gray">
            <div class="container">                                
                <div class="row row-cols-1 row-cols-lg-3 row-cols-sm-2">
                    <!-- start features box item -->
                    <div class="col text-center last-paragraph-no-margin margin-70px-bottom md-margin-50px-bottom sm-margin-40px-bottom wow animate__fadeInUp">                       
                        <i class="icon-desktop icon-extra-medium margin-20px-bottom"></i>
                        <div class="text-white-2 margin-10px-bottom md-margin-5px-bottom alt-font font-weight-600">Web Development</div>
                        <p class="w-80 mx-auto lg-w-85 sm-w-100 xs-w-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy text.</p>                      
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col text-center last-paragraph-no-margin margin-70px-bottom md-margin-50px-bottom sm-margin-40px-bottom wow animate__fadeInUp" data-wow-delay="0.2s">                       
                        <i class="icon-tools icon-extra-medium margin-20px-bottom"></i>
                        <div class="text-white-2 margin-10px-bottom md-margin-5px-bottom alt-font font-weight-600">Logo & Identity</div>
                        <p class="w-80 mx-auto lg-w-85 sm-w-100 xs-w-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy text.</p>                      
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col text-center last-paragraph-no-margin margin-70px-bottom md-margin-50px-bottom sm-margin-40px-bottom wow animate__fadeInUp" data-wow-delay="0.4s">                       
                        <i class="icon-hotairballoon icon-extra-medium margin-20px-bottom"></i>
                        <div class="text-white-2 margin-10px-bottom md-margin-5px-bottom alt-font font-weight-600">Graphics Design</div>
                        <p class="w-80 mx-auto lg-w-85 sm-w-100 xs-w-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy text.</p>                      
                    </div>                                        
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col text-center last-paragraph-no-margin md-margin-50px-bottom sm-margin-40px-bottom wow animate__fadeInUp">                       
                        <i class="icon-target icon-extra-medium margin-20px-bottom"></i>
                        <div class="text-white-2 margin-10px-bottom md-margin-5px-bottom alt-font font-weight-600">App Development</div>
                        <p class="w-80 mx-auto lg-w-85 sm-w-100 xs-w-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy text.</p>                      
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col text-center last-paragraph-no-margin xs-margin-40px-bottom wow animate__fadeInUp" data-wow-delay="0.2s">                       
                        <i class="icon-scissors icon-extra-medium margin-20px-bottom"></i>
                        <div class="text-white-2 margin-10px-bottom md-margin-5px-bottom alt-font font-weight-600">Social Marketing</div>
                        <p class="w-80 mx-auto lg-w-85 sm-w-100 xs-w-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy text.</p>                      
                    </div> 
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col text-center last-paragraph-no-margin wow animate__fadeInUp" data-wow-delay="0.4s">                       
                        <i class="icon-laptop icon-extra-medium margin-20px-bottom"></i>
                        <div class="text-white-2 margin-10px-bottom md-margin-5px-bottom alt-font font-weight-600">Content Creation</div>
                        <p class="w-80 mx-auto lg-w-85 sm-w-100 xs-w-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy text.</p>                      
                    </div> 
                    <!-- end features box item -->
                </div>
            </div>
        </section>
        <!-- end services showcase section -->
        <!-- start section -->
        <section class="wow animate__fadeIn">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 md-margin-30px-bottom wow animate__fadeInLeft">
                        <img src="{% static 'web/assets/images/services-img2.jpg' %}" class="w-100" alt="" />
                    </div>
                    <div class="col-xl-5 col-lg-6 offset-xl-1 wow animate__fadeInRight">
                        <h5 class="alt-font text-extra-dark-gray font-weight-600 margin-30px-bottom">Beautifully handcrafted templates for your website</h5>
                        <ul class="p-0 list-style-4">
                            <li>Beautiful and easy to understand UI, professional animations</li>
                            <li>Theme advantages are pixel perfect design & clear code delivered</li>
                            <li>Present your services with flexible, convenient and multipurpose</li>
                            <li>Find more creative ideas for your projects </li>
                            <li>Unlimited power and customization possibilities</li> 
                        </ul>
                        <a href="portfolio-full-width-masonry-overlay.html" class="btn btn-dark-gray btn-small text-extra-small border-radius-4 margin-20px-top"><i class="fa-solid fa-circle-play icon-very-small margin-5px-right ms-0" aria-hidden="true"></i> View Portfolio</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start information section -->
        <section class="p-0 wow animate__fadeIn">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-center bg-black feature-box-1 sm-no-padding-lr text-center text-md-start">
                        <div class="padding-eighteen-all xl-padding-fifteen-all lg-padding-ten-all sm-padding-30px-tb sm-padding-20px-lr w-100">
                            <span class="alt-font text-medium-gray margin-10px-bottom d-block">Build perfect websites</span>
                            <h6 class="text-light-gray alt-font">Unlimited power and customization possibilities</h6>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                            <a class="btn btn-transparent-light-gray btn-small border-radius-4" href="services-modern.html"><i class="fa-solid fa-circle-play icon-very-small margin-5px-right ms-0" aria-hidden="true"></i>Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-center bg-extra-dark-gray feature-box-1 sm-no-padding-lr text-center text-md-start">
                        <div class="padding-eighteen-all xl-padding-fifteen-all lg-padding-ten-all sm-padding-30px-tb sm-padding-20px-lr w-100">
                            <span class="alt-font text-medium-gray margin-10px-bottom d-block">Unique digital experiences</span>
                            <h6 class="text-light-gray alt-font">Pixel perfect design and clear code delivered to you</h6>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                            <a class="btn btn-transparent-light-gray btn-small border-radius-4" href="services-modern.html"><i class="fa-solid fa-circle-play icon-very-small margin-5px-right ms-0" aria-hidden="true"></i>Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex cover-background feature-box-1 md-h-450px sm-h-350px" style="background: url('{% static 'web/assets/images/services-img3.jpg' %} ')"></div>
                </div>
            </div>
        </section>
        <!-- end information section -->
        <!-- start services section -->
        <section class="wow animate__fadeIn last-paragraph-no-margin">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 margin-eight-bottom md-margin-40px-bottom sm-margin-30px-bottom text-center last-paragraph-no-margin">
                        <h5 class="alt-font text-uppercase text-extra-dark-gray font-weight-700 mb-0">Why work with us?</h5>
                    </div>
                </div>
                <div class="row justify-content-center row-cols-1 row-cols-lg-3 row-cols-md-2">
                    <!-- start services team -->
                    <div class="col-sm-8 team-block text-start feature-box-15 md-margin-30px-bottom last-paragraph-no-margin wow animate__fadeInUp">
                        <figure>
                            <div class="feature-box-content sm-w-100">
                                <div class="feature-box-image"><img src="{% static 'web/assets/images/latest-blog6.jpg' %}" alt=""></div>
                                <div class="hover-content bg-deep-pink d-flex align-items-center justify-content-center">
                                    <div class="padding-twelve-lr md-padding-15px-lr w-100">
                                        <span class="text-white-2 d-inline-block text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                                    </div>
                                </div> 
                            </div>
                            <figcaption>
                                <div class="text-center margin-25px-top">
                                    <div class="text-extra-dark-gray alt-font font-weight-600">We believe in creativity</div> 
                                    <p class="w-90 mx-auto md-w-100">Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
                                </div>   
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end services team -->
                    <!-- start services team -->
                    <div class="col-sm-8 team-block text-start feature-box-15 md-margin-30px-bottom last-paragraph-no-margin wow animate__fadeInUp" data-wow-delay="0.2s">
                        <figure>
                            <div class="feature-box-content sm-w-100">
                                <div class="feature-box-image"><img src="images/latest-blog5.jpg" alt=""></div>
                                <div class="hover-content bg-deep-pink d-flex align-items-center justify-content-center">
                                    <div class="padding-twelve-lr md-padding-15px-lr w-100">
                                        <span class="text-white-2 d-inline-block text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                                    </div>
                                </div> 
                            </div>
                            <figcaption>
                                <div class="text-center margin-25px-top">
                                    <div class="text-extra-dark-gray alt-font font-weight-600">We believe in quality</div> 
                                    <p class="w-90 mx-auto md-w-100">Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
                                </div>   
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end services team -->
                    <!-- start services team -->
                    <div class="col-sm-8 team-block text-start feature-box-15 last-paragraph-no-margin wow animate__fadeInUp" data-wow-delay="0.6s">
                        <figure>
                            <div class="feature-box-content sm-w-100">
                                <div class="feature-box-image"><img src="images/latest-blog7.jpg" alt=""></div>
                                <div class="hover-content bg-deep-pink d-flex align-items-center justify-content-center">
                                    <div class="padding-twelve-lr md-padding-15px-lr w-100">
                                        <span class="text-white-2 d-inline-block text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                                    </div>
                                </div> 
                            </div>
                            <figcaption>
                                <div class="text-center margin-25px-top">
                                    <div class="text-extra-dark-gray alt-font font-weight-600">We believe in relation</div> 
                                    <p class="w-90 mx-auto md-w-100">Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
                                </div>   
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end services team -->
                </div> 
            </div> 
        </section>
        
        <!-- end footer -->
        {% endblock %}