<!doctype html>
{% load static %}
<html class="no-js" lang="en">
    <head>
        <!-- title -->
        <title>POFO – Creative Agency, Corporate and Portfolio Multi-purpose Template</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="ThemeZaa">
        <!-- description -->
        <meta name="description" content="POFO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and portfolio HTML5 template with 25 ready home page demos.">
        <!-- keywords -->
        <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, coming soon, faq">
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.png'%}">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png'%}">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png'%}">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png'%}">
        <!-- style sheets and font icons  -->
        <link rel="stylesheet" type="text/css" href="{% static 'web/assets/css/bootsnav.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'web/assets/css/font-icons.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'web/assets/css/theme-vendors.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'web/assets/css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'web/assets/css/responsive.css' %}" />




    </head>
    <body>

        {% include 'web/partials/header2.html' %}
        {% block content %}

        {% endblock content %}







        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top  -->
        <!-- javascript -->
        <script type="text/javascript" src="{% static 'web/assets/js/jquery.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'web/assets/js/bootsnav.js' %}"></script>
        <script type="text/javascript" src="{% static 'web/assets/js/jquery.nav.js' %}"></script>
        <script type="text/javascript" src="{% static 'web/assets/js/hamburger-menu.js' %}"></script>
        <script type="text/javascript" src="{% static 'web/assets/js/theme-vendors.min.js' %}"></script>
        <!-- setting -->
        <script type="text/javascript" src="{% static 'web/assets/js/main.js' %}"></script>
    </body>
</html>