{% load static %}
<footer class="footer-standard-dark bg-extra-dark-gray"> 
    <div class="footer-widget-area padding-five-tb sm-padding-30px-tb">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2">
                <div class="col widget border-right border-color-medium-dark-gray md-no-border-right md-margin-30px-bottom text-center text-sm-start">
                    <!-- start logo -->
                    <a href="index.html" class="margin-20px-bottom d-inline-block"><img class="footer-logo" src="{% static 'web/assets/images/wmr_logo.svg' %}" data-at2x="{% static 'web/assets/images/wmr_logo.svg' %}" alt=""></a>
                    <!-- end logo -->
                    <p class="text-small d-inline-block w-95 lg-w-100 xs-w-95">we combine creativity and technology to deliver exceptional digital solutions. Our team crafts impactful, functional designs tailored to your needs. Let’s work together to create something remarkable.</p>
                    <!-- start social media -->
                    <div class="social-icon-style-8 d-inline-block align-middle">
                        <ul class="small-icon no-margin-bottom">
                            <li><a class="facebook text-white-2" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a class="twitter text-white-2" href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a class="google text-white-2" href="https://plus.google.com/" target="_blank"><i class="fa-brands fa-google-plus-g"></i></a></li>
                            <li><a class="instagram text-white-2" href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram no-margin-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <!-- end social media -->
                </div>
                <!-- start additional links -->
                <div class="col widget border-right border-color-medium-dark-gray padding-45px-left md-padding-15px-left md-no-border-right md-margin-30px-bottom text-center text-sm-start">
                    <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-10px-bottom font-weight-600">Additional Links</div>
                    
                </div>
                <!-- end additional links -->
                <!-- start contact information -->
                <div class="col widget border-right border-color-medium-dark-gray padding-45px-left md-padding-15px-left md-no-border-right xs-margin-30px-bottom text-center text-sm-start">
                    <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-10px-bottom font-weight-600">Contact Info</div>
                    <p class="text-small d-block margin-15px-bottom w-80 sm-w-100">POFO Design Agency<br> 301 The Greenhouse, Custard Factory, London, E2 8DY.</p>
                    <div class="text-small">Email: <a href="mailto:sales@domain.com">sales@domain.com</a></div>
                    <div class="text-small">Phone: +44 (0) 123 456 7890</div>
                    <a href="contact-us-modern.html" class="text-small text-uppercase text-decoration-underline">View Direction</a>
                </div>
                <!-- end contact information -->
                <!-- start instagram -->
                <div class="col widget padding-45px-left md-padding-15px-left text-center text-sm-start">
                    <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600">Instagram portfolio</div>
                    <div class="w-100 d-inline-block">
                        <ul class="instafeed-grid instafeed-wrapper grid grid-3col xl-grid-3col lg-grid-3col md-grid-3col sm-grid-3col xs-grid-3col gutter-small" data-total="6">
                            <li class="grid-item">
                                <figure>
                                    <a href="#" data-href="{{link}}" target="_blank">
                                        <img src="#" data-src="image.html" class="insta-image" alt="" />
                                        <span class="insta-counts"><i class="ti-instagram"></i>{{likes}}</span>
                                    </a>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end instagram -->
            </div>
        </div>
    </div>
    
</footer>